* {
    margin: 0;
    padding: 0;
    color:rgb(44, 44, 44);
}

body {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    background-color: lightblue;
}

header {
    padding: 20px 35px;
    background-color: rgb(44, 44, 44);
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: whitesmoke;
    margin: 0;
}

header a {
    text-decoration: none;
    color: whitesmoke;
}

header nav {
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

ul {
    list-style-type: none;
}

.about {
    text-align: center;
    padding-bottom: 5%;
}

.about h2 {
    font-size:35px;
    color: rgb(44, 44, 44);
    margin-bottom: 35px;
    padding: 35px 100px 20px 100px;
    border-bottom: 3px solid;
    display:inline-block;
}

.about p {
    line-height: 1.7;
    color:rgb(44, 44, 44);
    width: 80%;
    font-size: 20px;
    padding-left: 10%;
}

.work {
    text-align:center;
    background:rgb(44, 44, 44);
}

.work h2 {
    font-size:35px;
    color: whitesmoke;
    margin-bottom: 35px;
    padding: 35px 100px 20px 100px;
    border-bottom: 3px solid;
    border-color:whitesmoke;
    display:inline-block;
}

.work div {
    display: inline-flexbox;
    padding: 10px 10px 20px 10px;
    font-size:20px;
    color:whitesmoke;
}

.work div h3 {
    color:whitesmoke;
}

.work div h4{
    color:whitesmoke;
}

.contact {
    text-align: center;
    padding-bottom:20px;
}

.contact h2 {
    font-size:35px;
    color: rgb(44, 44, 44);
    margin-bottom: 35px;
    padding: 35px 100px 20px 100px;
    border-bottom: 3px solid;
    border-color:rgb(44, 44, 44);
    display:inline-block;
}

.contact ul li {
    display:inline;
    padding: 0 10px 20px 10px;
    font-size: 20px;
}

.contact ul li a {
    text-decoration: none;
    color:rgb(44, 44, 44);
}